/* CSS */
body {
    background-color: white;
}

.watchContainer{
    position: relative;
}

  
.clock {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    
}

#appleWatch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}