/* CSS */

.box {
display: contents;
border: 1px solid red;
background-color: lightgrey;
padding: 10px;
width: 200px;
}

.clock {
    border: 5px solid blue;
    background-color: lightblue;
    padding: 10px;
}